fastapi
fastmcp
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
jinja2
python-multipart
httpx
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
redis==5.0.4

langchain
langchain-core
langchain-mcp-adapters
langchain-groq